html{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMfF05wVrNiBxbvHJwnUtZVuHD4kSLIBEKfqsvCNQ7yi6Fnt-G');
    background-size: 100px;
    margin: 0 0 0 0
}

@font-face {
    font-family: 'Simpsonfont';
    src:url("C:\Users\matt law\Documents\projects\ajaxdog\font\._Simpsonfont.ttf")
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #fcf82f;
    margin: 0 auto;
    color: #fcf82f;
    font-family: 'Simpsonfont', 'Hi Melody', cursive;
    background-image: url("https://vignette.wikia.nocookie.net/simpsons/images/5/50/Wiki-background/revision/latest?cb=20111015160455")
}

h1 {
    font-size: 34px;
}

span, p {
    font-size: 28px;
}

.pic-container{
    width: 70%;
    height: 70%;
    overflow: hidden;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pic-container img{
    width:100%;
    height: 100%;
}

@media only screen and (max-width: 1005px) {
    .pic-container {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .container {
        width: 100%;
    }
    p {
        width: 80%;
        text-align: center
    }
}

@media only screen and (max-width: 550px){
    h1 {
        text-align: center;
        margin: 0 auto;
    }
}

